<html>
<head> 
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js">
  </script>
  <script type="text/javascript" src="https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js">
  </script>
  <script type="text/javascript" src="https://raw.github.com/benaskins/simplegraph/master/jquery.simplegraph.js">
  </script>
  
  <script>
    $(document).onload( function() {
      alert('hello world');
    });
  </script>
  
  <title>Plotter</title>
</head>
<body>
  
</body>
</html>
